@font-face {
  font-family: "DIN Condensed Web";
  src: url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.eot");
  src: url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.woff") format("woff"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.svg#DIN Condensed Web") format("svg");
}

$gradient1: linear-gradient(to bottom, #dccab8 0%, #d2b496 50%, #d2b496 100%);
$gradient2: linear-gradient(to bottom, #6d7fa1 0%, #a6b1c8 100%);
$gradient3: linear-gradient(to top, #ed9aa7 0%, #dc6979 100%);
$gradient4: linear-gradient(to left, #eaddd6 0%, #d98367 100%);
$gradient5: linear-gradient(to bottom, #f8c244 0%, #e29c46 100%);
$shadow1: rgba(0, 0, 0, 0.85);
$shadow2: rgba(0, 0, 0, 0.5);
$shadow3: rgba(0, 0, 0, 0.25);
$shadow4: rgba(0, 0, 0, 0.1);
$bk-color1: #EEEEEE;
$bk-color2: #EAECF4;
$bk-color3: #CBCED8;
$bk-color4: #97A4C5;
$bk-color5: #6D7278;
$bk-color6: #414655;
$bk-color7: #263440;
$alert-danger: #ef4848;
$alert-warning: #F4A769;
$alert-danger: #0FCF51;
$btn-color1: #c09267;
$btn-color2: #d2b79c;
$btn-color3: #ac9278;
$badge1: #f56c6b;
$badge2: #db6372;
$badge3: #6AAAF5;
$badge4: #FFDC90;


$main-color: #B1987F;

@mixin FontFamilyDINPro {
  font-family: "DIN Condensed Web";
}

.justify-space-evenly {
  justify-content: space-evenly !important;
}

.switch-button {
  border-radius: 10px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;

  .switch-item {
    flex: 1 0 auto;
    height: 36px !important;
    border-width: inherit !important;
  }
}

.relative {
  position: relative;
}

.flex-auto {
  flex: 1 1 auto;
}

.custom-input-panel fieldset {
  border-width: 0px !important;
}

.custom-input-panel .v-input__prepend-outer {
  margin-right: 0px !important;
}

.custom-input-panel .v-input__prepend-outer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-top: 0 !important;
  margin-right: 2px !important;
}

.custom-input-panel .btn-bg {
  color: white;
  background: linear-gradient(
                  to right,
                  rgba(220, 202, 184, 1) 0%,
                  rgba(210, 180, 150, 1) 100%
  ) !important;
}

.custom-input-panel .btn-bg span {
  color: white;
}

.custom-input-panel .v-input__slot::after {
  border-color: transparent !important;
}

.custom-input-panel .v-input__slot::before {
  border-color: transparent !important;
}

.custom-input-panel .v-label {
  font-weight: 700;
  font-size: 18px !important;
}

.custom-input-panel input {
  font-size: 14px !important;
}

.bottom-panel {
  height: auto !important;
  max-height: 80% !important;
  top: auto !important;
  bottom: 0 !important;
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;

  .v-toolbar__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .v-btn {
      position: absolute;
      left: 16px;
      margin: auto;

      .v-btn__content {
        color: #c09267;
        font-weight: bold;
      }
    }

    .v-toolbar__title {
      padding-left: 0px;
    }
  }
}
