$carousel-controls-bg: rgb(144, 45, 161) !default;
$carousel-dot-margin: 0 2px !default;
$carousel-controls-size: 35px !default;
$input-slot-margin-bottom: 2px !default;
$text-field-details-margin-bottom: 2px !default;